PORT=3001
MONGODB_URI="mongodb+srv://<username>:<password>@<cluster>/<database>"
MONGODB_DB_NAME="generaticmed"
FRONTEND_ORIGIN="http://localhost:3000"
GEMINI_API_KEY=""
AUTH_TOKEN_SECRET=""
SURESCRIPTS_ENDPOINT=""
SURESCRIPTS_API_KEY=""
LICENSING_API_ENDPOINT=""
LICENSING_API_KEY=""
WHOLESALE_EDI_ENDPOINT=""
WHOLESALE_EDI_API_KEY=""
